<script lang="ts">
	import type { User } from '$lib/models';
	import Navbar from '$lib/components/navbar.svelte';
	import '../../styles/main.scss';
	import { session } from '../../store';

	export let data: { sessionId: string; user: User };

	$: session.set(data);
</script>

<div class="container">
	<Navbar />
	<div class="route-container">
		{#if data.user}
			<slot />
		{/if}
	</div>
</div>

<style lang="scss">
	.container {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.route-container {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		padding: 16px;
		overflow: auto;
	}
</style>
