<script lang="ts">
	import type { Issue, User } from '$lib/models';
	import { getWorkedTickets } from '$lib/api';
	import WorklogTable from '$lib/components/worklogTable.svelte';
	import Datepicker from '$lib/components/datepicker.svelte';
	import LogTimeModal from '$lib/components/logTimeModal.svelte';
	import { session } from '../../store';
	import { startOfWeek, endOfDay, addDays, format, isValid } from 'date-fns';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';
	import { getDayRange, getWeekRange } from '$lib';

	let user: User | undefined;
	let view: 'day' | 'week' = 'week';
	let start: Date = startOfWeek(new Date(), { weekStartsOn: 1 });
	let end: Date = endOfDay(addDays(start, 6));
	let issues: Issue[] = [];
	let selectedIssue: Issue | undefined = undefined;

	session.subscribe((data) => {
		user = data.user;
	});

	onMount(() => {
		const viewParam = $page.url.searchParams.get('view');
		if (viewParam === 'day' || viewParam === 'week') {
			view = viewParam;
		}

		const startParam = $page.url.searchParams.get('start');
		if (startParam && isValid(startParam)) {
			const date = new Date(startParam);
			const range = view === 'day' ? getDayRange(date) : getWeekRange(date);

			start = range.start;
			end = range.end;
		}
	});

	const getWorklog = async (
		start: Date,
		end: Date,
		accountId: string | undefined
	) => {
		return getWorkedTickets(start, end).then((response) =>
			filterWorklog(accountId, response.data.issues, start, end)
		);
	};

	const filterWorklog = (
		accountId: string | undefined,
		issues: Issue[],
		start: Date,
		end: Date
	) => {
		return issues.map((issue) => ({
			...issue,
			fields: {
				...issue.fields,
				worklog: {
					...issue.fields.worklog,
					worklogs: issue.fields.worklog.worklogs.filter(
						(worklog) =>
							worklog.author.accountId === accountId &&
							new Date(worklog.started) >= start &&
							new Date(worklog.started) < end
					)
				}
			}
		}));
	};

	const handleValuesChange = ({
		start,
		view
	}: {
		start: Date;
		view: 'day' | 'week';
	}) => {
		$page.url.searchParams.set('start', format(start, 'yyyy-MM-dd'));
		$page.url.searchParams.set('view', view);
		goto(`?${$page.url.searchParams.toString()}`);
	};

	const handleSubmitted = () => {
		selectedIssue = undefined;
		getWorklog(start, end, user?.accountId).then(
			(filtered) => (issues = filtered)
		);
	};

	let timer: number | undefined;
	$: {
		clearTimeout(timer);
		timer = setTimeout(() => {
			getWorklog(start, end, user?.accountId).then(
				(filtered) => (issues = filtered)
			);
		}, 300);
	}
</script>

<div class="container">
	<Datepicker bind:start bind:end bind:view onChange={handleValuesChange} />
	<WorklogTable {issues} onSelected={(issue) => (selectedIssue = issue)} />
	<LogTimeModal issue={selectedIssue} onSubmitted={handleSubmitted} />
</div>

<style lang="scss">
	.container {
		gap: 24px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
</style>
