@import 'theme';
@import 'layout';
@import 'typography';

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

hr {
	border: 1px solid $darkAccent;
}

:root {
	--mdc-segmented-button-unselected-container-fill-color: $background;
	--mdc-segmented-button-unselected-ink-color: $text;
}

a {
	color: $text;
	text-decoration: none;
}
