@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: #279bf2,
	$secondary: #312d33,
	$surface: #f2f4f1,
	$on-surface: #f2f4f1,
	$background: #2f2e35,
	$error: #f44336
);

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
}

.mdc-button {
	text-transform: none !important;
}
