<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { getDayRange, getWeekRange } from '$lib';
	import {
		startOfWeek,
		endOfDay,
		addDays,
		isValid,
		format,
		getHours,
		getMinutes
	} from 'date-fns';
	import { onMount } from 'svelte';

	import Datepicker from '$lib/components/datepicker.svelte';
	import WorklogTimeline from '$lib/components/timeline.svelte';
	import type { Issue, User } from '$lib/models';
	import { getWorkedTickets } from '$lib/api';
	import { session } from '../../../store';
	import LogTimeModal from '$lib/components/logTimeModal.svelte';

	let view: 'day' | 'week' = 'week';
	let start: Date = startOfWeek(new Date(), { weekStartsOn: 1 });
	let end: Date = endOfDay(addDays(start, 6));
	let issues: Issue[];
	let user: Maybe<User>;
	let selectedDate: Date = new Date();
	let modalOpen: boolean = false;
	let containerElement: Maybe<HTMLDivElement>;

	session.subscribe((data) => {
		user = data.user;
	});

	onMount(() => {
		const viewParam = $page.url.searchParams.get('view');
		if (viewParam === 'day' || viewParam === 'week') {
			view = viewParam;
		}

		const startParam = $page.url.searchParams.get('start');
		if (startParam && isValid(new Date(startParam))) {
			const date = new Date(startParam);
			const range = view === 'day' ? getDayRange(date) : getWeekRange(date);
			start = range.start;
			end = range.end;
		}

		const now = new Date();
		const hours = getHours(now) + getMinutes(now) / 60;
		const height = hours * 150;

		if (containerElement) {
			containerElement.scrollBy({
				top: height - containerElement.clientHeight / 2,
				behavior: 'smooth'
			});
		}
	});

	const handleValuesChange = ({
		start,
		view
	}: {
		start: Date;
		view: 'day' | 'week';
	}) => {
		$page.url.searchParams.set('start', format(start, 'yyyy-MM-dd'));
		$page.url.searchParams.set('view', view);
		goto(`?${$page.url.searchParams.toString()}`);
	};

	let timer: number | undefined;
	const getWorklog = async (
		start: Date,
		end: Date,
		accountId: string | undefined
	) => {
		if (!accountId) {
			return;
		}

		clearTimeout(timer);

		timer = setTimeout(() => {
			getWorkedTickets(start, end)
				.then((response) =>
					filterWorklog(accountId, response.data.issues, start, end)
				)
				.then((filtered) => (issues = filtered));
		}, 300);
	};

	const filterWorklog = (
		accountId: string | undefined,
		issues: Issue[],
		start: Date,
		end: Date
	) => {
		return issues.map((issue) => ({
			...issue,
			fields: {
				...issue.fields,
				worklog: {
					...issue.fields.worklog,
					worklogs: issue.fields.worklog.worklogs.filter(
						(worklog) =>
							worklog.author.accountId === accountId &&
							new Date(worklog.started) >= start &&
							new Date(worklog.started) < end
					)
				}
			}
		}));
	};

	const handleCreate = (date: Date) => {
		selectedDate = date;
		modalOpen = true;
	};

	const handleSubmitted = () => {
		modalOpen = false;
		getWorklog(start, end, user?.accountId);
	};

	$: getWorklog(start, end, user?.accountId);
</script>

<div class="container">
	<Datepicker bind:start bind:end bind:view onChange={handleValuesChange} />
	<div class="timeline-container" bind:this={containerElement}>
		<WorklogTimeline {start} {end} {issues} onCreate={handleCreate} />
	</div>
	<LogTimeModal
		date={format(selectedDate, "yyyy-MM-dd'T'HH:mm")}
		bind:open={modalOpen}
		onSubmitted={handleSubmitted}
	/>
</div>

<style lang="scss">
	.container {
		gap: 24px;
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
	.timeline-container {
		flex: 1;
		overflow: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
