<script lang="ts">
	import {
		format,
		startOfWeek,
		addWeeks,
		addDays,
		endOfDay,
		startOfToday,
		endOfToday
	} from 'date-fns';
	import SegmentedButton, { Segment, Label } from '@smui/segmented-button';
	import IconButton from '@smui/icon-button';
	import Button from '@smui/button';

	export let start: Date;
	export let end: Date;
	export let view: 'day' | 'week' = 'week';
	export let onChange:
		| ((values: { start: Date; end: Date; view: 'day' | 'week' }) => void)
		| undefined = undefined;

	const options = [
		{ value: 'week', text: 'Week' },
		{ value: 'day', text: 'Day' }
	];

	const increment = () => {
		if (view === 'week') {
			start = addWeeks(startOfWeek(start, { weekStartsOn: 1 }), 1);
			end = endOfDay(addDays(start, 6));
		} else {
			start = addDays(start, 1);
			end = endOfDay(start);
		}

		onChange && onChange({ start, end, view });
	};

	const decrement = () => {
		if (view === 'week') {
			end = endOfDay(addDays(start, -1));
			start = addDays(end, -6);
		} else {
			start = addDays(start, -1);
			end = endOfDay(start);
		}
		onChange && onChange({ start, end, view });
	};

	const handleTodayPressed = () => {
		view = 'day';
		start = startOfToday();
		end = endOfToday();
		onChange && onChange({ start, end, view });
	};

	const handleViewChanged = (value: 'day' | 'week') => {
		return () => {
			view = value;

			if (view === 'week') {
				start = startOfWeek(start, { weekStartsOn: 1 });
				end = endOfDay(addDays(start, 6));
				onChange && onChange({ start, end, view });
			} else {
				end = endOfDay(start);
				onChange && onChange({ start, end, view });
			}
		};
	};
</script>

<div class="container">
	<div class="button-container">
		<SegmentedButton
			segments={options}
			let:segment
			singleSelect
			key={(segment) => segment.value}
		>
			<Segment
				{segment}
				title={segment.text}
				on:click={handleViewChanged(segment.value)}
				selected={view === segment.value}
			>
				<Label>{segment.text}</Label>
			</Segment>
		</SegmentedButton>

		<Button on:click={handleTodayPressed}>
			<Label>Today</Label>
		</Button>
	</div>

	<div class="header-container">
		<IconButton class="material-icons" on:click={decrement} ripple={false}>
			chevron_left
		</IconButton>
		{#if view === 'week'}
			<h3>
				{format(start, 'dd-MMM-yyyy')} to {format(end, 'dd-MMM-yyyy')}
			</h3>
		{:else}
			<h3>{format(start, 'dd-MMM-yyyy')}</h3>
		{/if}
		<IconButton class="material-icons" on:click={increment} ripple={false}>
			chevron_right
		</IconButton>
	</div>
</div>

<style lang="scss">
	@import 'theme';
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 900px;
	}

	.button-container {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.header-container {
		display: flex;
		align-items: center;
	}
</style>
