<script lang="ts">
	import type { Issue } from '$lib/models';
	import Modal from './modal.svelte';
	import TextField from '@smui/textfield';
	import { format } from 'date-fns';
	import Autocomplete from '@smui-extra/autocomplete';
	import CircularProgress from '@smui/circular-progress';

	import Button, { Label } from '@smui/button';
	import { addWorklog, searchByKey } from '$lib/api';

	export let issue: Maybe<Issue> = undefined;
	export let open: boolean = false;
	export let onSubmitted: Maybe<() => void> = undefined;

	export let date: string = format(new Date(), "yyyy-MM-dd'T'HH:mm");
	let timeString: string = '';
	let search = '';

	const convertTimeStringToSeconds = (timeString: string): number => {
		const timeComponents = timeString.split(' ');

		let totalSeconds = 0;

		for (const component of timeComponents) {
			if (component.endsWith('h')) {
				const hours = parseInt(component.slice(0, -1));
				totalSeconds += hours * 60 * 60;
			} else if (component.endsWith('m')) {
				const minutes = parseInt(component.slice(0, -1));
				totalSeconds += minutes * 60;
			}
		}

		return totalSeconds;
	};

	const handleSubmit = () => {
		const started = new Date(date);
		const seconds = convertTimeStringToSeconds(timeString);

		if (issue?.key) {
			addWorklog(issue.key, started, seconds).then(() => {
				onSubmitted && onSubmitted();
			});
		}
	};

	const handleSearch = (search: string) => {
		if (!search) {
			return Promise.resolve([]);
		}

		return new Promise<false | Issue[]>((resolve) =>
			searchByKey(search)
				.then((result) => resolve(result.data.issues))
				.catch(() => resolve(false))
		);
	};

	$: open = Boolean(issue);
</script>

<Modal
	{open}
	onDismiss={() => {
		issue = undefined;
		open = false;
	}}
>
	<span slot="header">
		{#if issue}
			<h3>
				{issue.key}
				{issue.fields.summary}
			</h3>
		{/if}
	</span>
	<form on:submit={handleSubmit} class="form-container">
		{#if !issue}
			<Autocomplete
				search={handleSearch}
				variant="outlined"
				showMenuWithNoInput={false}
				bind:value={issue}
				bind:text={search}
				label="Issue"
				getOptionLabel={(option) =>
					option ? `${option.key} ${option.fields.summary}` : ''}
			>
				<div slot="loading" class="loading-slot">
					<CircularProgress style="height: 24px; width: 24px;" indeterminate />
				</div>
				<TextField
					variant="outlined"
					bind:value={search}
					label="Issue"
					style="width: 100%"
				/>
			</Autocomplete>
		{/if}
		<TextField
			variant="outlined"
			bind:value={date}
			label="Start"
			type="datetime-local"
			required
		/>
		<TextField
			variant="outlined"
			bind:value={timeString}
			label="Time"
			required
		/>

		<div class="button-container">
			<Button type="submit" variant="raised">
				<Label>Submit</Label>
			</Button>
		</div>
	</form>
</Modal>

<style lang="scss">
	.form-container {
		display: flex;
		flex-direction: column;
		gap: 24px;

		.button-container {
			display: flex;
			justify-content: flex-end;
		}

		.loading-slot {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
</style>
