<script lang="ts">
	import IconButton from '@smui/icon-button';
	import { clickAway } from '$lib/hooks';

	export let open: boolean = false;
	export let onDismiss: Maybe<() => void> = undefined;
</script>

{#if open}
	<div class="modal-container">
		<div class="modal" use:clickAway on:click_outside={onDismiss}>
			<div class="modal-header">
				<slot name="header" />
				<IconButton class="material-icons" ripple={false} on:click={onDismiss}>
					close
				</IconButton>
			</div>
			<slot />
		</div>
	</div>
{/if}

<style lang="scss">
	@import 'theme';
	.modal-container {
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;
		justify-content: center;

		.modal {
			background-color: $background;
			padding: 20px;
			min-width: 400px;
			display: flex;
			flex-direction: column;

			.modal-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
</style>
