<script lang="ts">
	import Button, { Label } from '@smui/button';
	import MenuSurface from '@smui/menu-surface';

	import type { User } from '$lib/models';
	import { session } from '../../store';
	import Cookies from 'js-cookie';
	import { goto } from '$app/navigation';

	let user: Maybe<User>;
	let surface: MenuSurface;

	session.subscribe((data) => {
		user = data.user;
	});

	const logout = () => {
		Cookies.remove('token');
		goto('/login');
	};
</script>

<div class="navbar">
	<div class="title-container">
		<h2 class="title"><a href="/">Timelog</a></h2>
		<h4><a href="/current">Current</a></h4>
		<h4><a href="/timeline">Timeline</a></h4>
	</div>
	{#if user}
		<div class="profile">
			<Button on:click={() => surface.setOpen(true)}>
				<img
					src={user.avatarUrls['32x32']}
					class="profile-img"
					alt={user.displayName}
				/>
			</Button>
			<MenuSurface bind:this={surface} anchorCorner="BOTTOM_LEFT">
				<div class="profile-menu">
					<p>
						<span class="profile-name">{user.displayName}</span>
						<span class="profile-email">{user.emailAddress}</span>
					</p>
					<hr />

					<Button className="profile-logout" on:click={logout}>
						<Label>Logout</Label>
					</Button>
				</div>
			</MenuSurface>
		</div>
	{/if}
</div>

<style lang="scss">
	@import 'theme';
	.navbar {
		display: flex;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		padding: 0px 24px;
		align-items: center;
		gap: 1rem;
		flex: 0;

		.title-container {
			flex: 1;
			display: flex;
			align-items: center;
			gap: 48px;
		}

		.profile {
			.profile-img {
				width: 32px;
				height: 32px;
				border-radius: 16px;
			}
			.profile-menu {
				background-color: $background;
				width: 200px;
				padding: 8px 12px;

				p {
					margin: 0;
				}

				.profile-name {
					font-weight: 600;
				}

				.profile-email {
					opacity: 0.8;
				}
			}
		}
	}
</style>
