<script lang="ts">
	import type { Issue } from '$lib/models';
	import {
		eachDayOfInterval,
		endOfDay,
		startOfDay,
		format,
		startOfHour,
		getHours,
		getMinutes
	} from 'date-fns';
	import TimelineDay from './timelineDay.svelte';

	export let start: Date;
	export let end: Date;
	export let issues: Issue[] = [];
	export let onCreate: Maybe<(date: Date) => void>;

	const now = new Date();
	const hours = getHours(now) + getMinutes(now) / 60;
	const height = 32 + hours * 150;

	let dates: Record<string, Issue[]>;
	let timeSlots = [...Array(24).keys()];

	const getIssuesForDate = (date: Date) => {
		const start = startOfDay(date);
		const end = endOfDay(date);

		return issues.map((issue) => ({
			...issue,
			fields: {
				...issue.fields,
				worklog: {
					...issue.fields.worklog,
					worklogs: issue.fields.worklog.worklogs.filter(
						(worklog) =>
							new Date(worklog.started) >= start &&
							new Date(worklog.started) < end
					)
				}
			}
		}));
	};

	const getDates = (issues: Issue[], start: Date, end: Date) => {
		return eachDayOfInterval({ start, end }).reduce(
			(current, next) => ({
				...current,
				[format(next, 'yyyy-MM-dd')]: getIssuesForDate(next)
			}),
			{}
		);
	};

	$: dates = getDates(issues, start, end);
</script>

<div class="container">
	<div class="time-slot-container">
		{#each timeSlots as slot}
			<div class="time-slot">
				<h3>{format(startOfHour(new Date().setHours(slot)), 'HH:mm')}</h3>
			</div>
		{/each}
	</div>
	{#each Object.keys(dates) as date}
		<TimelineDay
			issues={dates[date]}
			date={new Date(date)}
			single={Object.keys(dates).length === 1}
			onClick={onCreate}
		/>
	{/each}
	<div class="line" style="top: {height}px" />
</div>

<style lang="scss">
	.container {
		position: relative;
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 0px 8px 0px 0px;
		min-width: 900px;
		justify-content: center;

		.time-slot-container {
			display: flex;
			flex-direction: column;

			.time-slot {
				height: 150px;
			}
		}

		.line {
			position: absolute;
			height: 1px;
			background-color: white;
			width: 100%;
		}
	}
</style>
