<script lang="ts">
	import { arrangeWorklog, type TimelogItem } from '$lib';
	import type { Issue } from '$lib/models';
	import { addHours, addMinutes, format, startOfDay } from 'date-fns';

	const SLOT_HEIGHT = 149;

	export let issues: Issue[];
	export let date: Date;
	export let single: boolean = false;
	export let onClick: Maybe<(date: Date) => void>;

	let timeSlots = [...Array(24).keys()];

	const handleClick = (timeSlot: number, index: number) => {
		let clickedDate = addMinutes(
			addHours(startOfDay(date), timeSlot),
			index * 15
		);

		onClick && onClick(clickedDate);
	};

	let items: TimelogItem[] = [];
	$: items = arrangeWorklog(issues);
</script>

<div class="timeline-day">
	<div class="time-slot-container">
		{#each timeSlots as timeSlot}
			<div
				class="time-slot"
				style="height: {SLOT_HEIGHT}px; width: {single ? 400 : 200}px"
			>
				{#each [...Array(4).keys()] as key}
					<button
						class="time-slot-section"
						on:click={() => handleClick(timeSlot, key)}
					/>
				{/each}
			</div>
		{/each}
		{#each items as item}
			<div
				class="item-container"
				style="top: {item.top}px;left: {item.left}%; width: {item.width}%; height: {item.height}px"
			>
				<div class="item">
					<h4>{item.title}</h4>
					<h5>{item.timeSpent}</h5>
				</div>
			</div>
		{/each}
	</div>
	<div class="timeline-day-header"><h2>{format(date, 'EEE')}</h2></div>
</div>

<style lang="scss">
	@use 'sass:color';
	@import 'theme';
	.timeline-day {
		display: flex;
		flex-direction: column-reverse;
		.timeline-day-header {
			position: sticky;
			top: 0px;
			height: 32px;
			background-color: $background;
			h2 {
				margin: 0;
			}
		}
		.time-slot-container {
			position: relative;
			.time-slot {
				align-items: center;
				border-bottom: 1px solid #ccc;

				.time-slot-section {
					height: 25%;
					width: 100%;
					cursor: pointer;
					background: none;
					border: none;
					padding: 0;
					display: flex;
					flex-direction: column;

					&:hover {
						border: 2px solid $darkAccent;
						border-radius: 4px;
						background-color: color.adjust($darkAccent, $alpha: -0.6);
					}
				}
			}
			.item-container {
				position: absolute;
				display: flex;
				.item {
					background-color: $darkAccent;
					box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
					border-radius: 4px;
					color: $text;
					padding: 4px;
					margin: 2px;
					flex: 1;
					overflow: hidden;
					display: flex;
					justify-content: space-between;

					h4 {
						margin: 0;
					}

					h5 {
						margin: 0;
					}
				}
			}
		}
	}
</style>
