<script lang="ts">
	import type { Issue } from '$lib/models';
	import { intervalToDuration } from 'date-fns';
	import IconButton from '@smui/icon-button';

	export let issues: Issue[];
	export let onSelected: ((issue: Issue) => void) | undefined = undefined;

	const formatDuration = (duration: Duration) => {
		let result: string[] = [];

		if (duration.days && duration.days > 0) {
			result.push(`${duration.days}d`);
		}

		if (duration.hours && duration.hours > 0) {
			result.push(`${duration.hours}h`);
		}

		if (duration.minutes && duration.minutes > 0) {
			result.push(`${duration.minutes}m`);
		}

		return result.join(' ');
	};

	const getTimeLogged = (issue: Issue) => {
		const total = issue.fields.worklog.worklogs.reduce(
			(total, next) => total + next.timeSpentSeconds,
			0
		);

		const duration = intervalToDuration({ start: 0, end: total * 1000 });
		return formatDuration(duration);
	};

	const getWeeklyTimeLogged = (issues: Issue[]) => {
		const worklogs = issues.flatMap((issue) => issue.fields.worklog.worklogs);
		const total = worklogs.reduce(
			(total, next) => total + next.timeSpentSeconds,
			0
		);

		const duration = intervalToDuration({ start: 0, end: total * 1000 });
		return formatDuration(duration);
	};

	$: weeklyTotal = getWeeklyTimeLogged(issues);
</script>

<table>
	<colgroup>
		<col span="1" />
		<col span="1" style="width: 20%" />
	</colgroup>
	<thead>
		<tr>
			<th><h4>Issue</h4></th>
			<th><h4>Time Logged</h4></th>
		</tr>
	</thead>
	<tbody>
		{#each issues as issue}
			<tr on:click={() => onSelected && onSelected(issue)}>
				<td>{issue.key} {issue.fields.summary}</td>
				<td>
					<div class="time-col">
						{getTimeLogged(issue)}
						<div class="icon">
							<IconButton
								class="material-icons"
								ripple={false}
								on:click={() => onSelected && onSelected(issue)}>add</IconButton
							>
						</div>
					</div>
				</td>
			</tr>
		{/each}
	</tbody>
	<tfoot><tr><td><h4>Total</h4></td><td><h4>{weeklyTotal}</h4></td></tr></tfoot>
</table>

<style lang="scss">
	@use 'sass:color';
	@import 'theme';
	table {
		border-collapse: collapse;
		background: $background;
		font-size: 1em;
		font-family: 'Roboto', sans-serif;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		overflow: hidden;
		max-width: 900px;
		width: 100%;
		position: relative;

		* {
			position: relative;
		}

		td,
		th {
			padding-left: 8px;
		}

		thead tr {
			height: 60px;
			background: $darkAccent;
			font-size: 16px;
			text-align: left;
		}

		tbody tr {
			height: 48px;
			transition: 0.1s background-color ease;
			cursor: pointer;
			&:last-child {
				border: 0;
			}

			&:hover {
				background-color: color.adjust($background, $lightness: 10%);

				.time-col {
					.icon {
						opacity: 1;
					}
				}
			}

			.time-col {
				display: flex;
				align-items: center;
				.icon {
					position: absolute;
					right: 0;
					transition: 0.1s opacity ease;
					opacity: 0;
				}
			}
		}
	}
</style>
