<script lang="ts">
	import type { Issue } from '$lib/models';
	import { getCurrentSprint } from '$lib/api';
	import LogTimeModal from '$lib/components/logTimeModal.svelte';

	import IconButton from '@smui/icon-button';

	let issues: Issue[] = [];
	let selectedIssue: Maybe<Issue>;

	$: getCurrentSprint().then((response) => (issues = response.data.issues));
</script>

<div class="grid-container">
	{#each issues as issue}
		<div class="issue-container">
			<h4>{issue.key} {issue.fields.summary}</h4>
			<h5 class="status">{issue.fields.status.name}</h5>
			<IconButton
				class="material-icons"
				ripple={false}
				on:click={() => (selectedIssue = issue)}
			>
				add
			</IconButton>
		</div>
	{/each}
</div>

<LogTimeModal
	bind:issue={selectedIssue}
	onSubmitted={() => (selectedIssue = undefined)}
/>

<style lang="scss">
	@use 'sass:color';
	@import 'theme';
	.grid-container {
		flex: 1;
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
		row-gap: 32px;
		column-gap: 32px;
		max-width: 900px;

		.issue-container {
			width: 200px;
			height: 250px;
			background-color: $background;
			border-radius: 8px;
			padding: 8px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

			.status {
				text-transform: uppercase;
			}
		}
	}
</style>
