<script lang="ts">
	import { getAuthorizeUrl } from '$lib/api';
	import Button, { Label } from '@smui/button';

	const url = getAuthorizeUrl();
</script>

<div class="container">
	<Button href={url} variant="raised">
		<Label>Login</Label>
	</Button>
</div>

<style lang="scss">
	.container {
		flex: 1;
		display: flex;
		padding: 64px;
		gap: 8px;
	}
</style>
